<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Get your weather mf</p>
        </div>
        {{>footer}}
    </body>
</html>